<p>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Braille">Шрифт Брайля</a> -- это
    рельефно-точечный тактильный шрифт, предназначенный для письма и чтения незрячими людьми.
    Для изображения букв в шрифте Брайля используются 6 точек, расположенных в два столбца, по 3 в каждом.
    Количество и расположение этих точек отличается в разных буквах.
</p>

<p>
    Мы будем использовать именно 6-точечный алфавит.
    Каждая буква представлена, как матрица 3 на 2, где 1 это выпуклая точка и 0 - пустое место.
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="alphabet" src="{{MEDIA}}alphabet.svg" alt="alphabet"
         width="700px"/>
    <img class="for_editor_only" title="alphabet" src="{{MEDIA}}alphabet.svg" alt="alphabet"
         width="380px"/>
</p>
<p>
    (Здесь есть отличие в букве W от оригинала)
</p>
<p>
    Буквы должны быть разделены пустыми столбцами. Пробел обозначается, как два пустых столбца (плюс разделители).
    Дополнительные знаки меняют значение следующей за ними буквы. Эти символы непечатные и наиболее важные из
    них это "заглавная" и "число". Эти знаки превращают следующую за ними букву в заглавную или число соответственно.

</p>
<p style="text-align: center;">
    <img title="formating" src="{{MEDIA}}formating.svg" alt="formating" width="300px"/>
</p>

<p>
    Также будем использовать некоторые знаки пунктуации:
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="punctuation" src="{{MEDIA}}punctuation.svg" alt="punctuation"
         width="650px"/>
    <img class="for_editor_only" title="punctuation" src="{{MEDIA}}punctuation.svg"
         alt="punctuation"
         width="380px"/>
</p>

<p>
    Дан текст и вам нужно сконвертировать его в Шрифт Брайля.
    Страница представлена, как матрица с одной или несколькими строками букв.
    Каждая строка должна быть не более 10 символов (включая дополнительные).
    Строки разделены одиночными линиями (в одну клетку).
    Символы отделяются пустыми столбцами, но в начале и концы строки их нет.
    Если текст помещается в одну строку, то ширина страницы пропорциональна тексту.
    Если текст не помещается в одну строку, то последняя строка дополняется пробелами, так чтобы страница была прямоугольной.

</p>

<p>
    Для примера посмотрите на текст "hello 1st World!".
</p>

<p style="text-align: center;">
    <img class="for_info_only" title="example" src="{{MEDIA}}example.svg" alt="example"
         width="750px"/>
    <img class="for_editor_only" title="example" src="{{MEDIA}}example.svg" alt="example"
         width="380px"/>
</p>

<p>
    <strong>Входные данные:</strong> Текст, как строка.
</p>

<p>
    <strong>Выходные данные:</strong> Страница, как {% if is_js %}массив массивов{% else %}список списков{% endif %} с числами 1 и 0.
</p>


<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>Как это используется:</strong>
    <i>
        Существует два основных метода компьютерного представления знаков шрифта Брайля, которые используются для сохранения брайлевского текста в электронном виде.

    Первый из них реализован на базе половины диапазона символов ASCII, условно интерпретируемых специальным образом,
    и служит для отображения шеститочечного брайля,
    а второй представляет собой отдельный диапазон символов в Юникоде, которые внешне выглядят как брайлевские шеститочечные знаки.

    А в этой задаче вы реализуете третий метод и сможете например использовать его с механическим устройством отображения.
    </i>
</p>

<p>
    <strong>Предусловия:</strong>
    <ul>
        <li><i>0 &lt; len(text);</i></li>
        <li><i>all(ch in string.ascii_letters + " .,!?-_0123456789" for ch in text).</i></li>
    </ul>
</p>